/*
    This is an edited version of light. The original is in light-copy.
    The names arent changed because I have no idea how to do this properly.
*/

/**
 * Style variables
 */
$base-color:           #000 !default;
$primary-color:        #0000EE !default;
$text-color:           $base-color !default;
$placeholder-color:    $base-color !default;
$link-color:           #da0000 !default;
$border:               dashed 1px rgba(0,0,0,1) !default;
$selection-background: rgba(0,0,250,0.3) !default;
$selection-text:       #000 !default;
$background-color:     #e9e9e9 !default;


@import "base";
