---
layout: default
---
<div class="post">

  <header class="post-header">
    {% if page.img %}
    <div class="project-page-logo">
      <img src="{{ page.img | relative_url }}" alt="{{ page.title }} logo">
    </div>
    {% endif %}
    <h1 class="post-title">{{ page.title }}{% if page.github %} <a href="{{ page.github }}" class="project-title-link"><i class="fab fa-github"></i></a>{% endif %}</h1>
    <p class="post-description">{{ page.description }}</p>
  </header>

  <article>
    {{ content }}
  </article>

</div>
